import React from 'react'
<%_ if (ts && env) { _%>
import { GetServerSideProps } from 'next'

interface ServerSideProps {
  serverSideEnvVar: string
}

interface Props extends ServerSideProps {
  prop: string
}
<% } %>
const Home<% if (ts) { %>: React.FC<% if (env) { %><Props><% }} %> = (<% if (env) { %>{ serverSideEnvVar }<% }%>) => {
  return (
    <div>
      <p>Template by juliangsibecas</p>
      <%_ if (env) { _%>
      <p>ClientSide environment variable: {process.env.NEXT_PUBLIC_VAR}</p>
      <p>ServerSide environment variable: {serverSideEnvVar}</p>
      <%_ } _%>
    </div>
  )
}
<% if (env) {%>
export const getServerSideProps<% if (ts) { %>: GetServerSideProps<ServerSideProps><% } %> = async () => ({
  props: {
    serverSideEnvVar: process.env.SERVER_SIDE_VAR
  }
})
<% } %>
export default Home
